[submodule "paru"]
	path = paru
	url = https://aur.archlinux.org/paru.git
[submodule "cmake-format"]
	path = cmake-format
	url = https://aur.archlinux.org/cmake-format.git
[submodule "cmake-language-server"]
	path = cmake-language-server
	url = https://aur.archlinux.org/cmake-language-server.git
[submodule "prettier-plugin-xml"]
	path = prettier-plugin-xml
	url = https://aur.archlinux.org/prettier-plugin-xml.git
[submodule "nixd"]
	path = nixd
	url = https://aur.archlinux.org/nixd.git
[submodule "dockerfmt"]
	path = dockerfmt
	url = https://aur.archlinux.org/dockerfmt.git
[submodule "bibtex-tidy"]
	path = bibtex-tidy
	url = https://aur.archlinux.org/bibtex-tidy.git
[submodule "prettier-plugin-php"]
	path = prettier-plugin-php
	url = https://aur.archlinux.org/prettier-plugin-php.git
[submodule "nixfmt"]
	path = nixfmt
	url = https://aur.archlinux.org/nixfmt.git
[submodule "phpactor"]
	path = phpactor
	url = https://aur.archlinux.org/phpactor.git
[submodule "quickemu"]
	path = quickemu
	url = https://aur.archlinux.org/quickemu.git
[submodule "zfs-utils"]
	path = zfs-utils
	url = https://aur.archlinux.org/zfs-utils.git
[submodule "zfs-linux-lts"]
	path = zfs-linux-lts
	url = https://aur.archlinux.org/zfs-linux-lts.git
